#main{
    height: 100%;
    width: 400px;
}
input{
    padding: 10px;
}
#board{
    height: 400px;
    width: 400px;
    border: solid 2px rgb(167, 173, 171);
    overflow: scroll;
}

.form{
    padding: 20px;
}
#oneMessage{
    display: block;
}
